{% extends "aldryn_newsblog/base.html" %}
{% load  cms_tags i18n %}

{% block newsblog_content %}
<br>
<br>
	<div class="grid-x grid-margin-x grid-margin-y large-up-3	">
		 
    {% for article in article_list %}
    <div class="cell ">
        {% include "aldryn_newsblog/includes/latest.html" %}
         </div>
    {% empty %}
        <p>{% trans "No items available" %}</p>
        
    {% endfor %}
	
	 <div class="">
   {% static_placeholder 'sidebar' %}
   </div>
    {% include "aldryn_newsblog/includes/pagination.html" %}
   
   
   </div>
{% endblock %}
