{% extends "aldryn_newsblog/base.html" %}
{% load i18n %}

{% block newsblog_content %}
<div class="grid-container grid-x grid-margin-x large-up-2 medium-up-2 small-12">
    {% for article in article_list %}
    <div class="cell">
        {% include "aldryn_newsblog/paintings/includes/article.html" %}
       </div> 
    {% empty %}
        <p>{% trans "No items available" %}</p>
    {% endfor %}

    
</div>

<div class="grid-x large-6 large-offset-4">
	<div class="cell">
{% include "aldryn_newsblog/includes/pagination.html" %}
</div>
{% endblock %}
